/*file originally not included? made from scratch to be an empty file to allow loading*/
.color-legend 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
}
.color-legend-item 
{
    list-style-type: none;
    margin: 5px 12px;
    font-size: 1.4rem;
}
.color-legend span 
{
    display: inline-block;
}

.color-legend-item-color 
{
    position: relative;
    top: 2px;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    border-radius: 3px;
}